html, body, #root {
    padding: 0;
    margin: 0;
    height: auto;
}

head {
    margin: 0;
    display: none;
}

/*
html > *:first-child {
    margin-top: 0;
}
*/

body {
    margin-top: 0;
}

div {
    height: auto;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

hr {
    margin: 30px auto;
    border-width: 3px !important;
    max-width: 50px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
    font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif
}

.btn-default {
    color: #222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}