html, body, #root {
    padding: 0;
    margin: 0;
    height: auto;
}

head {
    margin: 0;
    display: none;
}

/*
html > *:first-child {
    margin-top: 0;
}
*/

body {
    margin-top: 0;
}

div {
    height: auto;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    margin: 30px auto;
    border-width: 3px !important;
    max-width: 50px;
}

p {
    font-size: 1.1em;
    line-height: 1.5;
}